p{
    font-style: Arial;
}




.deals{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}

.sales{
    margin-top: 0px;
    color: red;
    font-style: italic;
    font-size: 15px;
}