.p{
    font-family: Arial;
}


.new{
    color: #E16E33;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0px;
}

.macbook{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 640;
}

.price{
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.buy{
    display: block;
    font-family: Arial;
    text-align: center;
    
    background-color: #326FD6;
    border-radius: 15px;
    border: none;
    color: white;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    cursor: pointer;
    margin: 0 auto;

}