.title{
    font-family: Verdana;
    font-size: 20px;
    font-weight: 1000;
    margin-bottom: 0px;
    width: 200px;
    

}

.description{
    margin-top: 0px;
    color: #717171; 
    

}

.more-description{
    width: 200px;
}

.button{
    background-color: green;
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 5px;
    cursor: pointer;  
  
    
}