body{
    font-family: Arial;
    height: 3000px;
    
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    

}
.profile-picture{
    width: 40px;
    border-radius: 20px; 
    object-fit: cover;
}

.name{
    font-weight: 700; 
    
}

.add-friend-button{
    background-color: #2c6dde; 
    border: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.message-button{
    background-color: #E4E5E9;
    color: black;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
    
}