
p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}

.video-title{
  
   font-weight: bold;
   font-size: 18px;
   width: 250px;
   line-height: 20px;
   margin-bottom: 5px;
} 

.video-stats{
   
    font-size: 15px;
    color: #737373;
    
    margin-bottom: 15px;
}

.creater{
    
    color: #737373;
    font-size: 14px; 
    
    margin-bottom: 15px;

}

.video-description{
    font-family: Arial;
    font-size: 14px;
    color: #737373;
    width:250px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.apple-text{
    background-color: #DF3938;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.shop-now:hover{
    text-decoration: underline;
    cursor:pointer;

}
