
      .thumbnail {
        width: 100%;
        
      }

     

     .video-title{
      margin-top: 0px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 12px;
     }

  

      .channel-picture{
        
        vertical-align: top;
       
        
        
      }

    

       .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
       
      }


       .profile-picture{
        width: 40px;
        border-radius: 50px;
      }

      .thumbnail-row{
        margin-bottom: 12px;
      }

      .video-author, .video-stats{
        font-size: 12px; 
        color: rgb(96,96,96); 

      }
     
      .video-author{
        margin-bottom: 6px;
      }

     .video-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
       row-gap: 40px;
      column-gap: 16px;
     }

     